<!-- Troy - ejs document used to display bootstrap alerts to the user.  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Troy - if there are some errors, errors will be defined. If there are errors
then for each error display a new bootstrap warning with the contents of the
error message. Array is used instead of flash since there could be multiple
errors when registering an account.
Template from https://getbootstrap.com/docs/4.0/components/alerts/ -->
<% if(typeof errors != "undefined") { %>
<% errors.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%- error.message %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <div align="right">
      <span aria-hidden="true">&times;</span>
    </div>
  </button>
</div>
<%}); %>
<% } %>


<!-- Troy - if the success flash message has be set, display it using a success
alert which is green.-->
<% if (successMessage.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%- successMessage %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <div align="right">
        <span aria-hidden="true">&times;</span>
      </div>
    </button>
  </div>
<% } %>

<!-- Troy - if the success flash message has be set, display it using a success
alert which is green.-->
<% if (errorMessage != "") { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%- errorMessage %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <div align="right">
        <span aria-hidden="true">&times;</span>
      </div>
    </button>
  </div>
<% } %>
<!-- Troy - if the error flash message has be set, display it using a warning
alert which is red.-->
<% if (error != "") { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%- error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <div align="right">
        <span aria-hidden="true">&times;</span>
      </div>
    </button>
  </div>
<% } %>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
