<%- include("partials/header") -%>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
        if ( <%= ticketCount %> >= 1000) {
          document.getElementById("submitBtn").disabled = true;
        }
      });
</script>
<form class="" action="/users/ticketOrder" method="post">
  <div class="form-group">
    <h1>There are <%= 1000 - ticketCount %> tickets available</h1>
    <label for="exampleFormControlSelect1">Select tickets</label>
    <select class="form-control" name="NoOfTickets" id="exampleFormControlSelect1">
      <option>1</option>
    <% if ( ticketCount < 999) {  %>
      <option>2</option>
  <%  } %>
    </select>
  </div>

  <button type="submit" id="submitBtn" name="button">Reserve</button>
</form>


<%- include("partials/footer") -%>
